# This is the config file for NwmToShef.py
# YAML Format

NWPSapi:          "https://api.water.noaa.gov/nwps/v1/"
forceShefEncode:  no                         # (yes/no) yes - always encode; no - only encode if newer then last forecast issuance time
outputLocation:   ./data/                    # path for shef file output - directory must exist
#outputFileName:   output_<TIMESTAMP>.txt    # need to add  timestamp options.  On the ldad:  /data/Incoming
outputFileName:   output.txt                 # need to add  timestamp options.  On the ldad:  /data/Incoming
ratingCurveAge: 1                            # Days to cache the rating curve before pulling a new one, -1 to always pull
extrapolation: false

#####Output file header lines####
outputFileHeaderLines:
  #line1: "SRAK58 PACR @@@@@@"                                         #  @@@@@@ replaced with DDHHMM  (product timestamp)
  #line2: "RR3ACR"
  #Line3:                                                              #blank line
  line4: ": Custom Lines to be placed at the top of the shef file"  
  line5: ": Data retrieved from NWM data services : <TIMESTAMP>"       #  <TIMESTAMP> gets replaced with a current date/time
  line6:
  
####List of NWM forecasts to request and default PEDTS code for shef data####
NWMrequests:
  analysisAssimilation: 
     flow  : "QRIFU"
     stage : "HGIFU"
  shortRange: 
     flow   : "QRIFV"
     stage  : "HGIFV"
#  mediumRange: 
#    flow   :  "QRIFWZM"
#    stage  :  "HGIFWZM"
#  longRange: 
#    flow   :  "QRIFXZM"
#    stage  :  "HGIFXZM"
#  mediumRangeBlend: 
#    flow   :  "QRIFXZM"
#    stage  :  "HGIFXZM"
    
#####List of NWS sites to ingest with Default PEDTS Code####
sites : [HLEH1,KWSH1,alkh1,NLIH1]


#####List of NWS sites to ingest with Custom PEDTS Codes####

customSites : [WLUH1]



  
